body{
    background-color: antiquewhite;
    font-family: 'Domine', serif;
}
.welcome{
    margin-top: 70px;
}
.previewImg{
    opacity: 0.85;
    width:200px;
    height: 200px;
    border-radius: 50% ;
}
.playIcon{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    color: #343a40;
    background-color: antiquewhite;
    border-radius: 50% ;
    width: 32px;
    height: 32px;
}
.deleteIconPreviewPic{
    position: absolute;
    top: 20%;
    left: 44%;
    background-color: antiquewhite;
    border-radius: 50% ;
}
.editIconPreviewPic{
    position: absolute;
    top: 20%;
    left: 50%;
    background-color: antiquewhite;
    border-radius: 50% ;
}
.iconsPreviewPic{
    opacity: 0; 
}
.albomReviewPic:hover .iconsPreviewPic{
    opacity: 1; 
}
.albomReviewPic:hover .previewImg{
    opacity: 1;
}
#mediaPlayer{
    height: 220px;
    border-radius: 110px;
    background-color: darkslategrey;
}
#generalPlayerAreaButtons {
    margin-top: 7%; 
}
#generalPlayerAreaButtons a{
    display: block;
}
#playerCoverImage{
    width:200px;
    height: 200px;
    border-radius: 50% ;
    margin-top: 10px;
}
audio{
    vertical-align: top;
}
#player{
    display: inline;
}
#songsList {
    list-style: none;
    overflow: auto;
}
#songsList li a{
    text-decoration: none;
    color:darkgray;
}
#songsList li a:hover {
    color:black;
}
.IconInPlayer{
    position: absolute;
    top: 50%;
    left: 110px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    color: #343a40;
    background-color: antiquewhite;
    border-radius: 50% ;
    width: 32px;
    height: 32px;
    z-index: 1;
}
.rotate{
    -webkit-animation: rotation 2s infinite linear;
    animation: rotation 2s infinite linear;
}
@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}
@keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}
#playlistPreviewImg img{
    width:250px;
    height: 250px;
    border-radius: 50%;
}
.modal-body{
    background-color: azure;
}
#songsAddingContainer .row{
    padding-bottom: 5px;
}
#addRowBtn{
    text-decoration: none;
}
#addRowBtn svg{
    padding-right: 3px;
}
.errorBorder{
    border: 1px solid #dc3545!important ;
}
.marked{
    color:black !important;
}
