body{
    background-color: antiquewhite;
}
.welcome{
    margin-top: 70px;
}

.previewImg{
    opacity: 0.85;
    /* border: solid 2px black; */
    width:200px;
    height: 200px;
    border-radius: 50% ;
}
.playIcon{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    color: #343a40;
    background-color: antiquewhite;
    border-radius: 50% ;
    width: 32px;
    height: 32px;
}
.deleteIconPreviewPic{
    position: absolute;
    top: 20%;
    left: 44%;
    background-color: antiquewhite;
    border-radius: 50% ;
}
.editIconPreviewPic{
    position: absolute;
    top: 20%;
    left: 50%;
    background-color: antiquewhite;
    border-radius: 50% ;
}
.iconsPreviewPic{
     opacity: 0; 
}
.albomReviewPic:hover .iconsPreviewPic{
    opacity: 1; 
}
.albomReviewPic:hover .previewImg{
    opacity: 1;
}
#mediaPlayer{
    width:600px;
    height: 220px;
    border-radius: 110px;
    background-color: darkslategrey;
    margin-left: auto;
    margin-right: auto;
    /* vertical-align: center; */
}
#generalPlayerAreaButtons {
    float: right;
    margin-right: 20%;
    margin-top: 7%;
}
#generalPlayerAreaButtons a{
    display: block;
}
#generalPlayerArea {
    /* display: inline; */
}
#playerCoverImage{
    width:200px;
    height: 200px;
    border-radius: 50% ;
    margin-top: 10px;
}
audio{
    vertical-align: top;
    
}
#player{
    display: inline;
}
#songsList {
    list-style: none;
    /* text-decoration: none; */
}
#songsList li a{
    text-decoration: none;
    color:darkgray;
}
#songsList li a:hover {
    color:black;
}
.IconInPlayer{
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    color: #343a40;
    background-color: antiquewhite;
    border-radius: 50% ;
    width: 32px;
    height: 32px;
    z-index: 1;
}
.rotate{
    -webkit-animation: rotation 2s infinite linear;
    animation: rotation 2s infinite linear;
}
@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}
@keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}
#playlistPreviewImg img{
    width:250px;
    height: 250px;
    border-radius: 50%;
}
.modal-body{
    background-color: azure;
}

